<h2>Eat Dem Burgers!!!!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
    <li>
	{{burger_name}}
	<button class="eatBurger" data-id="{{id}}" data-devoured="{{devoured}}">
		EAT ME!
	</button>
    </li>
    {{/unless}}
  {{/each}}
</ul>